body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #4f89a2;
}

.container {
  margin: 10px 10px 10px 10px;
  width: 100%;
}

  .main{
	float: left;
	margin-right:20px;
  }
  
  .answer{
	float: left;
	background: white;
	border-radius: 3px;
	padding: 10px 10px 10px;
	margin: 0 auto;
  }
  
  input[type="radio"] {
	font-size: 15px;
  }
  
  input[type="submit"] {
	margin-top: 10px;
  }
  
  h3 {
	margin-bottom: 5px;
  }
  
  #imgShow{
	width: 1280px;
	height: 720px;
  }
  
  .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/page-loader.gif') 50% 50% no-repeat rgb(79,137,162);
}